<%= display_error %>
<% if logged_in? %>
<form action="/my_songs" method="POST">
    <input type="hidden" value="<%= playlist.id %>" name="song[playlist_id]">
  Title:
    <input name="song[title]" type="text"> URL: <input name="song[song_url]" type="text">
    <input type="submit" value="Add" id="button">
</form>
<%end%>
