
<center><div class="container">
<%= display_error %>
<h1>Register Now</h1>
  <form action="/signup" method="POST">
    Username:
    <input type="text" name="user[username]"><br>
    <span> Password:</span>
    <input type="password" name="user[password]"><br>
    Confirm Password:
    <input type="password" name="user[password_confirmation]">
    <input type="submit" value="Signup!" id="button">
  </form>
</div>

<div></div>
<div >

</div></center>