
<div>

<form>
  Search Now:
  <input type="search" name="search" action="/soundcloud" method="GET">
</form>

  <div><br><br>
    <% @tracks.each do |track| %>
      <div ><a href="<%= track.permalink_url %>"><%= track.title %></a></div>
      <a href="<%= track.permalink_url %>"><%= track.title %></a></div>
    <% end %>
  </div>
</div>
