<div class="container">
  <section id="content">
<%= display_error %>
<h1>Register Now</h1>
  <form action="/signup" method="POST">

    <input type="text" placeholder="Username" name="user[username]"id="username">

    <input type="password"  placeholder="Password" name="user[password]"id="username">
    <input type="password" placeholder="Confirm Password"name="user[password_confirmation]"id="username">
    <input type="submit" value="Signup!" id="button">

    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->


