<%= display_error %>
<center><div>
<form action="/playlists/all" method="POST"><br><br>
  Playlist Name:
    <input name="name" type="text" ><br>
    <form action="/playlists/all" method="POST"><br>
    <input type="submit" value="Make Playlist." id="button">
</form>

</div></center>