<%= display_error %>
<center><div>
<form action="/playlists/all" method="POST"><br><br>
  <u><strong>Playlist Name:</u></strong>
    <input name="name" type="text" >
    <form action="/playlists/all" method="POST">
    <input type="submit" value="Create" id="button">
</form>

</div></center>


