<div class="container">
  <%= erb :_nav_bar %>
</div>

<div>

  <%= erb :'playlist/_create_playlist' %>

  <div><br><br>
    <% @playlists.each do |playlist| %>
      <div class="playlist"><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a>
      
    <% end %><br><br>
  </div>
</div>