


<br>

<center><div class ="container">
<% if logged_in? %>
  <%= erb :'playlist/_create_playlist' %>
   <% end %>
<%else%>
<br>
<br>
<br>
<br>

<u><h1><span style="color:blue">Play</span>Lists:</h1></u>

    <% @playlists.each do |playlist| %>
     	<h5><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a></h5>
    <% end %>


</div></center>
