<center><div class ="container">
<% if logged_in? %>
  <%= erb :'playlist/_create_playlist' %>
   <% end %>
<%else%>
<u><h1>All PlayLists:</h1></u>

    <% @playlists.each do |playlist| %>
     <ol><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a></ol>
    <% end %>


</div></center>
